/**============================================
 * 在此文件中定义变公共元素样式
 *
 * 仅供调用(import)
 * ============================================
 */
.sys-mask {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  overflow: auto;
  z-index: 29;
  color: #666666;
}
